# تجاهل ملفات البيئة الافتراضية
venv/
.env

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل المشاريع التي ينشئها المحرك (لكي لا تزدحم الشيفرة الأصلية)
EasyNotepad/
SmartBMI/
# أو يمكنك استخدام هذا السطر لتجاهل أي مجلد مشروع جديد مستقبلاً:
# */ 

# تجاهل ملفات الضغط والتحميل
*.zip

# تجاهل ملفات النظام
.DS_Store
Thumbs.db